<div class="grid p-fluid">
  <div class="col-12">
    <form>
      <div class="field">
        <label for="name">Найменування</label>
        <input type="text" pInputText id="name">
      </div>
      <div class="field">
        <label for="type">Тип</label>
        <input type="text" pInputText id="type">
      </div>
      <div class="field">
        <label for="address">Адреса</label>
        <input type="text" pInputText id="address">
      </div>
      <div class="field">
        <label for="defaultStock">Склад (за замовчуванням)</label>
        <input type="text" pInputText id="defaultStock">
      </div>
      <div class="field">
        <button
          class="save_btn"
          pButton
          label="Зберегти"
          type="submit"
        ></button>
      </div>
    </form>
  </div>
</div>
