<div class="grid p-fluid">
  <div class="col-12">
    <form [formGroup]="addCategoryForm" (ngSubmit)="onAddCategory()" novalidate>
      <div class="field">
        <label for="name">Назва категорії</label>
        <input
          type="text"
          pInputText
          id="name"
          formControlName="name"
          required
          autocomplete="off"
        />
      </div>
      <div class="field">
        <label for="category">Батьківська категорія</label>
        <p-treeSelect id="category" [options]="goodsService.categories" formControlName="parentId">
        </p-treeSelect>
      </div>
      <div class="field">
        <button
          pButton
          pRipple
          label="Додати"
          class="p-button-raised"
          type="submit"
        ></button>
      </div>
    </form>
  </div>
</div>
