<p-toolbar>
  <ng-template pTemplate="left">
    <button
        pButton
        pRipple
        label="Додати продажу"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="openDialog()"
      ></button>
  </ng-template>
</p-toolbar>
<p-table>
  <ng-template pTemplate="header">
    <tr>
      <th>№</th>
      <th>Час</th>
      <th>Точка продажу</th>
      <th>Контрагент</th>
      <th>Сума готівкою</th>
      <th>Сума безготівкою</th>
      <th>Сума загалом</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sale>

  </ng-template>
</p-table>
