<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button pButton pRipple
              label="Додати товар"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="showDialog()">
      </button>
    </ng-template>
  </p-toolbar>

  <!-- Table for all goods by primeNG -->
  <p-table #dt [value]="goodsService.allGoods" [rowHover]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>image</th>
        <th>Category</th>
        <th>Name</th>
        <th>code</th>
        <th>article</th>
        <th>price</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-good>
      <tr>
        <td><img [src]="link + good.attachments[0]?.id" height="40px" alt="none"></td>
        <td>{{good.category.name}}</td>
        <td>{{good.name}}</td>
        <td>{{good.code}}</td>
        <td>{{good.article}}</td>
        <td>{{good.price | currency}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
